<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt">
                            <img src="../../../assets/map.svg" alt="map location">
                        </i>
                        <div class="cta-text">
                            <h4>Encuéntranos</h4>
                            <span>Carrera 9 4 - 55</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone">
                            <img src="../../../assets/phone.svg" alt="phone">
                        </i>
                        <div class="cta-text">
                            <h4>llamanos</h4>
                            <span>(602)-8361098</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open">
                            <img src="../../../assets/mail.svg" alt="mail">
                        </i>
                        <div class="cta-text">
                            <h4>escribenos</h4>
                            <span>informacion&#64;littlebox</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../../assets/logo_little_box.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Little Box es una innovadora solución digital diseñada específicamente para ayudar a las microempresas a simplificar y optimizar la gestión de su caja menor.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Síguenos</span>
                            <a href="https://www.facebook.com/profile.php?id=61553865514811&mibextid=ZbWKwL"><i class="fab fa-facebook-f facebook-bg">
                                <img src="../../../assets/facebook.svg" alt="facebook">
                            </i></a>
                            
                            <a href="https://www.instagram.com/litterbox212?igsh=MWZwYWQ0Y3ZyYXk3ag=="><i class="fab fa-twitter twitter-bg">
                                <img src="../../../assets/icons8-instagram.svg" alt="twitter x">
                            </i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg">
                                <img src="../../../assets/google+.svg" alt="google">
                            </i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Menu</h3>
                        </div>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Nuestros servicios</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Nuestro Equipo</a></li>
                            <li><a href="#">Actualizaciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribete</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Suscribete y recibe noticias importantes sobre el manejo de tus finanzas</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Correo">
                                <button class="centrar-img-btn"><i class="fab fa-telegram-plane">
                                    <img src="../../../assets/send.svg" alt="send">
                                </i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023,<a href="#">Little box</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>