

<ngb-carousel >
    <ng-template ngbSlide>
      <img src="../../assets/img1.jpg"  class="img-fluid">
      <div class="carousel-caption">
        <h3>Control eficiente de caja menor</h3>
        <p>Optimiza el manejo de tus finanzas con nuestra aplicación web. 
          <br> Gestiona tus ingresos y egresos de forma ágil y precisa, 
          <br> manteniendo un control completo sobre tu caja menor.</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/img2.jpg"  class="img-fluid">
      <div class="carousel-caption">
        <h3>Programa eventos y nunca olvides un pago</h3>
        <p>Toma decisiones con nuestros informes 
          <br>detallados y estadísticas en tiempo real, 
          <br>Identifica patrones, tendencias y oportunidades de ahorro.</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../assets/img3.jpg"   class="img-fluid">
        <div class="carousel-caption">
          <h3>Roles de usuario personalizados</h3>
          <p>Con Little Box, crea perfiles personalizados 
            <br> para controlar el acceso a información y funciones, 
            <br> priorizando la seguridad y privacidad de tus datos.</p>
      </div>
      </ng-template>
  </ngb-carousel>
  