<div class="center-container">
  <div *ngIf="!mostrarCodigoInput" class="email">
    <div>
      <input type="email" [(ngModel)]="email" placeholder="Correo electrónico">
      <button class="email-button" (click)="solicitarRestablecimiento()">Enviar código de restablecimiento</button>
    </div>
  </div>
  
    <div *ngIf="mostrarCodigoInput" class="reset-form">
      <input type="text" [(ngModel)]="codigo" placeholder="Código de restablecimiento">
      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña">
      <button class="reset-button" (click)="resetPasswordhtml()">Restablecer contraseña</button>
    </div>
  </div>
