.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Para colocar el contenido en columna */
}

.password-form {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-top: 20px; /* Ajuste el margen superior para separar el formulario del título */
}

.password-form label {
  display: block;
  margin-bottom: 10px;
}

.password-form input {
  width: calc(100% - 20px); /* Ajuste del ancho para compensar el padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.password-button {
  background-color: #4CAF50; /* Color de fondo inicial */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Agregado efecto de transición */
  width: 100%; /* Hacer que el botón ocupe todo el ancho del contenedor */
  margin-top: 20px; /* Espacio superior para separar el botón del campo de contraseña */
}

.password-button:hover {
  background-color: #45a049; /* Cambio de color de fondo en hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregado efecto de sombra en hover */
}

.password-button:focus {
  outline: none; /* Eliminar el contorno del botón al hacer clic */
}

